<div id="navbar" class="navbar navbar-expand-md sticky-top shadow-sm mb-2">  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-items">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div id="navbar-items" class="row collapse navbar-collapse">
    <div class="navbar-item col-md">
      <a class="nav-link" href="/index.html">Home</a>
    </div>
    <div class="navbar-item col-md">
      <a class="nav-link" href="/about/index.html">About</a>
    </div>
    <div class="navbar-item col-md">
      <a href="http://4795.ed.co"><button type="button" class="btn btn-lg btn-primary">Donate!</button></a>
    </div>
    <!--<div class="navbar-item col-md">
      <a class="nav-link" href="/outreach/index.html">Outreach</a>
    </div>-->
    <div class="navbar-item col-md">
      <a class="nav-link" href="/robots/index.html">Robots</a>
    </div>
    <div class="navbar-item col-md">
      <a class="nav-link" href="/sponsors/index.html">Sponsors</a>
    </div>
    <!--<div class="navbar-item col-md">
      <a class="nav-link" href="/resources/index.html">Resources</a>
    </div>-->
    <div class="navbar-item col-md">
      <a class="nav-link" href="/contact/index.html">Contact</a>
    </div>
  </div>
  <!--/.navbar-collapse -->
</div>

<!-- Google analytics tracking code; implemented in navbar to spread it to all pages -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o)
            , m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-78952984-1', 'auto');
    ga('send', 'pageview');
</script>
