@import url('https://fonts.googleapis.com/css?family=Roboto');

h2 {
        text-align: center;
}

#page-wrapper {
        position: absolute;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
}

img.center {
  display: block;
  height: 500px;
  margin: 0 auto;
}

.carousel {
  display: block;
  margin: 0 auto;
  height: 500px;

}

.carousel-inner {
  height: 500px;
}
#title {
  text-align: center;
}

#first {
  margin: 0 auto;
  width: 80%;
}

cite {
  position: relative;
  display: block;
  text-align: left;
}

#navbar {
    position: sticky-top;
    background-color: rgb(150, 150, 250);
}

.navbar-item {
        text-align: center;
}

.nav-link {
        display: inline-block;
        color: white;
}

