<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}

  </head>

  <body>
    <div id="page-wrapper" class="container-fluid p-0">

    <!-- Navigation bar -->
    {% include nav.html %}

    <!-- Main body -->
    <div class= "container">
      <h1 id="title">{{ page.title }}</h1>
    <div class="row">
      <div class="col-md-6">
        {{ content }}
      </div>
      <div class="col-md-6">
	
	<center>
	  <img src="/assets/sponsors/simbois.png" height="481" width="937">
	</center>
	
	<center>
	  <img src="/assets/sponsors/wildcats.png" height="139" width="480">
	</center>
	
	<center>
	  <img src="/assets/sponsors/ten-thousand-villages.jpg" height="425" width="450">
	</center>

      </div>
    </div>
    <hr> {% include footer.html %}
    </div>
</div>
<!-- /.container -->

{% include end.html %}

</body>

</html>
