<!--home.html-->
<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
<style>
{% include css/home.css %}
</style>
</head>
<body>
  <div id="page-wrapper" class="container-fluid p-0">
    {% include nav.html %}
    <div id="info-card" class="card shadow-sm">
      <div class="card-body">
	<div class="card-text">
	  {{ content }}
	</div>
      </div>
 <!--   {% include footer.html %}-->
  </div> <!-- /container -->
   <!-- { % include end.html %} -->
</body>
</html>
